.deleteButton {
    display: inline;
}

.example-container {
    position: relative;
    width: 95%;
    left: 2.5%;
    margin-top: 3%;
}

.propositionDiv {
    margin-left: 18%;
}

.alert {
    position: relative;
    bottom: 5px;
    margin-left: 5px;
}

.btnQuestionnaire {
    position: absolute;
    left: 45%;
    bottom: 30%;
}